# EDA SQUAD Dataset

In [102]:
import json
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
data = None

with open("../../datasets/squad/data/train-v1.1.json") as json_data_file:
    data = json.load(json_data_file)

### JSON to CSV file

In [36]:
with open("../../datasets/squad/data/train-v1.1.csv", "w") as csv_file:
    
    csv_file.write("id¬title¬context¬question¬answers\n")

    for _ in data["data"]:

        title = _["title"]
        paragraphs = _["paragraphs"]

        for paragraph in paragraphs:

            context = paragraph["context"]
            qas = paragraph["qas"]

            for qa in qas:

                id_ = qa["id"] 
                answers = str(qa["answers"])
                question = qa["question"]

                row = "{id_}¬{title}¬{context}¬{question}¬{answers}\n".format(id_=id_,
                                                                            title=title,
                                                                            context=context,
                                                                            question=question,
                                                                            answers=answers)
                csv_file.write(row)

After parsing there were some issues with the JSON file to consider. There is a row with 25k blank spaces I removed manually, also many texts had new line characters (\n) so, the result had many lines cut off. I used the following regex on a text editor to remove them easier.

^(?!5[\da-z]+¬).*

### CSV to Dataframe

In [56]:
csv_file_dir = "../../datasets/squad/data/train-v1.1.csv"

df = pd.read_csv(csv_file_dir, sep="¬", engine="python", doublequote=False)
df

,id,title,context,question,answers
0,5733be284776f41900661182,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",To whom did the Virgin Mary allegedly appear i...,"[{'answer_start': 515, 'text': 'Saint Bernadet..."
1,5733be284776f4190066117f,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What is in front of the Notre Dame Main Building?,"[{'answer_start': 188, 'text': 'a copper statu..."
2,5733be284776f41900661180,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",The Basilica of the Sacred heart at Notre Dame...,"[{'answer_start': 279, 'text': 'the Main Build..."
3,5733be284776f41900661181,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What is the Grotto at Notre Dame?,"[{'answer_start': 381, 'text': 'a Marian place..."
4,5733be284776f4190066117e,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What sits on top of the Main Building at Notre...,"[{'answer_start': 92, 'text': 'a golden statue..."
...,...,...,...,...,...
87594,5735d259012e2f140011a09d,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",In what US state did Kathmandu first establish...,"[{'answer_start': 229, 'text': 'Oregon'}]"
87595,5735d259012e2f140011a09e,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",What was Yangon previously known as?,"[{'answer_start': 414, 'text': 'Rangoon'}]"
87596,5735d259012e2f140011a09f,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",With what Belorussian city does Kathmandu have...,"[{'answer_start': 476, 'text': 'Minsk'}]"
87597,5735d259012e2f140011a0a0,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",In what year did Kathmandu create its initial ...,"[{'answer_start': 199, 'text': '1975'}]"
87598,5735d259012e2f140011a0a1,Kathmandu,"Kathmandu Metropolitan City (KMC), in order to...",What is KMC an initialism of?,"[{'answer_start': 0, 'text': 'Kathmandu Metrop..."